<div class="container">
  <a (click)="onAction($event)" *ngIf="story?.id !==9" class="link-primary ms-2 me-2" href="#">Várakozok</a>
  <a (click)="onAction($event)" *ngIf="story?.id !==9" class="link-primary ms-2 me-2" href="#">Keresek</a>
  <a (click)="onAction($event)" *ngIf="story?.id !==9" class="link-primary ms-2 me-2" href="#">Használom</a>
  <a (click)="onAction($event)" *ngIf="story?.id !==9" class="link-primary ms-2 me-2" href="#">Öngyilkos leszek</a>
  <a (click)="onAction($event)" *ngIf="story?.id !==9" class="link-primary ms-2 me-2" href="#">Segítség</a>
  <a (click)="onAction($event)" *ngIf="story?.id ===9" class="link-primary ms-2 me-2" href="#">Igen</a>
  <a (click)="onAction($event)" *ngIf="story?.id ===9" class="link-primary ms-2 me-2" href="#">Nem</a>
</div>
