<div class="container">
  <a href="#" class="link-primary ms-2 me-2" (click)="onAction($event)" *ngIf="story.id !==9">Várakozok</a>
  <a href="#" class="link-primary ms-2 me-2" (click)="onAction($event)" *ngIf="story.id !==9">Keresek</a>
  <a href="#" class="link-primary ms-2 me-2" (click)="onAction($event)" *ngIf="story.id !==9">Használom</a>
  <a href="#" class="link-primary ms-2 me-2" (click)="onAction($event)" *ngIf="story.id !==9">Öngyilkos leszek</a>
  <a href="#" class="link-primary ms-2 me-2" (click)="onAction($event)" *ngIf="story.id !==9">Segítség</a>
  <a href="#" class="link-primary ms-2 me-2" (click)="onAction($event)" *ngIf="story.id ===9">Igen</a>
  <a href="#" class="link-primary ms-2 me-2" (click)="onAction($event)" *ngIf="story.id ===9">Nem</a>
</div>
