<h1>{{ title }}</h1>
<div class="container">
  <div class="row">
    <div class="col-9">
      <app-story-box></app-story-box>
    </div>
    <div class="col-3">
      <app-inventory></app-inventory>
    </div>
  </div>
</div>

<div class="card-footer text-muted">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <app-compass-rose></app-compass-rose>
      </div>
      <div class="span10 text-end">
        <app-action></app-action>
      </div>
    </div>
  </div>
</div>
