<h1>{{ title }}</h1>
<div id="story-box" class="card" style="w-75">
    <div class="card-body">
      <h5 class="card-title">Story</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod tellus euismod enim fringilla gravida. Praesent vitae maximus dolor, pulvinar fermentum purus. Vestibulum maximus finibus enim, eu tempor mauris rutrum in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate vestibulum aliquam. Suspendisse sollicitudin cursus lectus, ut congue orci pharetra et. Nulla vestibulum est elit, et pretium leo aliquam vel. Nam nec ultrices sapien.
        Vestibulum vel mauris eu ipsum congue cursus in quis nisi. Integer sit amet pellentesque velit, vel porta tortor. Nunc vehicula, odio nec aliquam laoreet, dui purus venenatis arcu, in pulvinar justo lacus bibendum purus. Nulla sodales sagittis varius. Pellentesque commodo dui eget cursus porta. Quisque feugiat elit eros, sed venenatis lacus iaculis vitae. Vestibulum tempus eu dolor sed imperdiet. Suspendisse auctor rhoncus ex, vel rhoncus elit.      
        In hac habitasse platea dictumst. Sed aliquet justo in gravida lobortis. Nunc metus augue, ornare eget aliquam nec, fermentum tempus lectus. Suspendisse neque dui, lacinia nec faucibus ut, lacinia at ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus iaculis ultricies risus, at gravida neque maximus eget. Cras nec sapien et neque suscipit volutpat at quis mauris. Nulla auctor dui a lacinia imperdiet.
        In euismod facilisis sem, eget pulvinar risus pulvinar eu. Sed ultricies risus diam, eu maximus lectus eleifend convallis. Nulla velit massa, tincidunt vel tempus id, pulvinar nec nisl. Maecenas a gravida enim, et fermentum nisl. Maecenas dolor nibh, accumsan quis erat sit amet, commodo sagittis lacus. Donec ut accumsan elit. Nam varius mi a mi congue ultricies. Etiam lacinia mauris sapien, eu convallis quam malesuada ac. Mauris a mi nec ante tempor lobortis vel vel massa. Aenean sit amet congue elit. Mauris vestibulum augue non est facilisis blandit.
        Aenean porttitor blandit lorem sed congue. Phasellus id lorem eget tortor luctus convallis ac at odio. Aenean massa massa, vehicula vel dapibus id, maximus sed urna. Vivamus luctus augue ac tellus dignissim, congue rhoncus ex mollis. Curabitur quis enim at nibh bibendum faucibus. Etiam id pulvinar velit, at ullamcorper arcu. Donec fringilla tortor sit amet dapibus accumsan.</p>
    </div>
    <div class="card-footer text-muted">
        <div class="container">
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">
                <a href="#" class="btn btn-primary col-6">Észak</a>
              </div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col text-right">
                    <a href="#" class="btn btn-primary col-6">Nyugat</a>
                </div>
                <div class="col"></div>
                <div class="col">
                    <a href="#" class="btn btn-primary col-6 align-self-start">Kelet</a>
                </div>
                <div class="col"></div>
              </div>
              <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <a href="#" class="btn btn-primary col-6">Dél</a>
                </div>
                <div class="col"></div>
                <div class="col"></div>
              </div>
          </div> 
      </div>
  </div>