<h1>{{ title }}</h1>
<div class="container">
<div class="row">
<div class="col-9">
  <app-story-box></app-story-box>
</div>
<div class="col-3">
  <app-inventory></app-inventory>
</div>
</div>
</div>

<div class="card-footer text-muted">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <app-compass-rose></app-compass-rose>
      </div>
      <div class="span10 text-end">
        <app-action></app-action>
      </div>
    </div>
    </div>
  </div>
  <!--
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col d-grid">
        <button type="button" href="#" class="btn btn-primary col">
          Észak
        </button>
      </div>
      <div class="col"></div>
      <div class="col-9"></div>
    </div>
    <div class="row">
      <div class="col d-grid">
        <button type="button" href="#" class="btn btn-primary col">
          Nyugat
        </button>
      </div>
      <div class="col"></div>
      <div class="col d-grid">
        <button type="button" href="#" class="btn btn-primary col">
          Kelet
        </button>
      </div>
      <div class="col-9"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col d-grid">
        <button type="button" href="#" class="btn btn-primary col">Dél</button>
      </div>
      <div class="col"></div>
      <div class="col-9 d-grid gap-1 text-end">
        <a href="#" class="link-primary">Várakozok</a>
        <a href="#" class="link-primary">Keresek</a>
        <a href="#" class="link-primary">Használom</a>
      </div>
    </div>
  </div>
  -->
